.btn3{
    color: white;
    background-color: #078edd ;
    padding: 2px;
    margin-left : 1088px;
    width: 70px;
}
.btn4{
    color: white;
    background-color: #078edd ;
    padding: 2px;
    margin-left : 1px;
    width: 70px;
}